{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="{% static "style.css" %}" rel="stylesheet">
  </head>
  <body>
    <nav id="top" class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand">楽天モドキ</a>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">搜索</button>
        </form>
      </div>
    </nav>
    <h1> </h1>
    

    {% if Ranking_data %}
    <section id="ranking" class="container-sm" style="background-color: rgb(150, 89, 27);;">
      <h2 class="text-center">ランキング</h2>

      <div class="row">
        {% for item in Ranking_data %}
        <div class="card col-3">
          <img src="{{ item.Item.smallImageUrls.0.imageUrl }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ item.Item.itemName }}</h5>
            <!-- <p class="card-text">{{ item.Item.itemCaption }}</p> -->

            <a href="itemurl" class="btn btn-primary">こちら</a>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
    {% endif %}

   

    カードでの検索結果の一覧を出す
    {% for item in keyword %}
    <div class="card" style="width: 50rem;">
      <img src="imageFlag" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{ item.Item.itemCode }}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    {% endfor %}

    <!-- TOPに戻る -->
    <div class="position-fixed" style="bottom: 10dvh; right: 10dvw;">
      <a class="btn btn-primary rounded-circle" href="#top">返回</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
